{% extends 'index/layout/base.html' %}
{% block title %}{% block text-title %}Index Page{% endblock text-title %} | {% endblock title %}

{% block content %}
<p>NLP adalah akrinom dari Natural Language Processing atau Pengolahan Bahasa Alami. Tujuan dari NLP adalah memahami pola bahasa manusai agar komputer dapat mengerti bahasa manusia secara alami.</p>
<p>Website ini dibuat untuk mencoba implementasi sederhana dari NLP. Fitur yang sudah dibuat bisa diakses di sidebar di kanan.</p>
{% endblock content %}

{% block date %}Tue, 16 Oct 2018{% endblock date %}