{% extends 'index/layout/base.html' %}
{% block title %}{% block text-title %}Spelling Correction{% endblock text-title %} | {% endblock title %}

{% block content %}
<form action="{% url 'index:parse' %}" method="post">
    {% csrf_token %}
    <input type="text" name="words" placeholder="Masukkan Kalimat" class="form-group form-control" value="{% if last_value %}{{last_value}}{% endif %}">
    <input type="submit" value="Input" class="form-group btn btn-primary">
</form>
{% if step1 %}
<h4>1. Hasil Rekomendasi Min Edit Distance</h4>
<table class="table table-responsive table-bordered">
    <tr>
    {% for kl in step0 %}
    <th>{{kl}}</th>
    {% endfor %}
    </tr>
    <tr>
    {% for kl in step1 %}
    <td>{{kl.0}}</td>
    {% endfor %}
    </tr>
</table>
{% endif %}
<h4>2. Hasil Rekomendasi dengan Language Model</h4>
<table class="table table-responsive table-bordered">
    <tr>
        <th>Kalimat</th>
        <th>Jumlah Probabilitas</th>
    </tr>
    {% for ln_md in step2 %}
    <tr>
        <td>{{ln_md.0}}</td>
        <td>{{ln_md.1|floatformat:4}}</td>
    </tr>
    {% endfor %}    
</table>
{% endblock content %}

{% block date %}Tue, 24 Nov 2018{% endblock date %}