{% extends 'index/layout/base.html' %}
{% block title %}{% block text-title %}Language Model{% endblock text-title %} | {% endblock title %}

{% block content %}

<form action="{% url 'lang_model:index' %}" method="post">
    {% csrf_token %}
    <input type="text" name="kalimat" placeholder="Masukkan 1 Kalimat" class="form-group form-control" value="{% if last_value %}{{last_value}}{% endif %}">
    <input type="submit" value="Input" class="form-group btn btn-primary">
</form>

{% if error_message %}
<hr>
<p class="alert alert-danger">{{ error_message }}</p>{% endif %}
{% if klmt %}
<h2>Bigram Word Probs</h2>
{% for p_pair in probs_pair %}
    {% if not forloop.first %}
    +
    {% endif %}
    log(P({{p_pair}}))
{% endfor %}
<br>
{% for pr in probs %}
    {% if not forloop.first %}
    +
    {% endif %}
    {{pr|floatformat:4}}
{% endfor %}
<br>
<h4>{{probs_total|floatformat:4}}</h4>
<hr>
<h2>Count Kalimat</h2>
<h3>Unigram</h3>
<table class="table table-responsive table-bordered">
    <tr>
        {% for kl in klmt %}
        <th>{{ kl }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for u in uni %}
            <td>{{ u }}</td>
        {% endfor %}
    </tr>
</table>
<h3>Bigram</h3>
<table class="table table-responsive table-bordered">
    <tr>
        <th>
        </th>
        {% for kl in klmt %}
        <th>{{ kl }}</th>
        {% endfor %}
    </tr>
    {% for big_row in bi %}
    <tr>
        {% for big_col in big_row %}
            {% if forloop.first %}
                <th>{{ big_col }}</th>
            {% else %}
                <td>{{ big_col }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br>
<hr>
<h2>Raw Bigram Probs</h2>
<table class="table table-responsive table-bordered">
    <tr>
        <th>
        </th>
        {% for kl in klmt %}
        <th>{{ kl }}</th>
        {% endfor %}
    </tr>
    {% for big_row in bi_prob %}
    <tr>
        {% for big_col in big_row %}
            {% if forloop.first %}
                <th>{{ big_col }}</th>
            {% else %}
                <td>{{ big_col|floatformat:4 }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock content %}

{% block date %}Mon, 5 Nov 2018{% endblock date %}