{% extends 'index/layout/base.html' %}
{% block title %}{% block text-title %}Morphological Parser{% endblock text-title %} | {% endblock title %}

{% block content %}
<!--Morphological Parser-->
<p class="alert alert-info">Saat ini Imbuhan yang diterima hanya Imbuhan <b>Me-</b> <br>dan sementara hanya bisa proses 1 kata saja</p>
<form action="{% url 'morphology_parser:parse' %}" method="post">
    {% csrf_token %}
    <input type="text" name="kata" placeholder="Masukkan Kata" class="form-group form-control" value="{% if last_value %}{{last_value}}{% endif %}">
    <input type="submit" value="Input" class="form-group btn btn-primary">
</form>

{% if error_message %}<hr><p class="alert alert-danger">{{ error_message }}</p>{% endif %}

{% if result %}
<hr>
<p class="alert alert-success">{{ result }}</p>
Pattern : {{ ptrn }}
<br>
Kalimat : {{ word }}
{% endif %}
{% endblock content %}

{% block date %}Tue, 26 Nov 2018{% endblock date %}