{% extends 'index/layout/base.html' %}
{% block title %}{% block text-title %}Find Close Word{% endblock text-title %} | {% endblock title %}
{% load static %}

{% block content %}
<!--Minimum Edit Distance-->
<form action="{% url 'min_edit_dist:close_word' %}" method="post">
    {% csrf_token %}
    <input type="text" name="kata" placeholder="Masukkan Kata" class="form-group form-control" value="{% if last_value %}{{last_value}}{% endif %}">
    <input type="submit" value="Input" class="form-group btn btn-primary">
</form>
{% if hasil %}
    <table class="table table-responsive table-hover table-bordered" style="text-align: center">
    <tr>
        <th>Rekomendasi</th>
        <th>Skor</th>
    </tr>
    {% for h in hasil %}
        {% if h.1 < 3 %}
        <tr>
            <td>{{h.0}}</td>
            <td>{{h.1}}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
{% endif %}
{% endblock content %}

{% block date %}Tue, 28 Oct 2018{% endblock date %}