{% extends 'index/layout/base.html' %}
{% block title %}{% block text-title %}Minimum Edit Distance{% endblock text-title %} | {% endblock title %}
{% load static %}

{% block content %}
<p>Ada 2 Implementasi yang kami kerjakan mengenai Minimum Edit Distance. Yaitu :</p>
<li><a href="{% url 'min_edit_dist:table' %}">Pencarian Minimum Edit Distance 2 Kata</a></li>
<li><a href="{% url 'min_edit_dist:close_word' %}">Rekomendasi Kata-Kata Terdekat</a></li>
{% endblock content %}

{% block date %}Tue, 28 Oct 2018{% endblock date %}