{% extends 'index/layout/base.html' %}
{% block title %}{% block text-title %}Minimum Edit Distance{% endblock text-title %} | {% endblock title %}
{% load static %}

{% block content %}
<!--Minimum Edit Distance-->
<form action="{% url 'min_edit_dist:table' %}" method="post">
    {% csrf_token %}
    <input type="text" name="kata1" placeholder="Masukkan Kata 1" class="form-group form-control" value="{% if last_value1 %}{{last_value1}}{% endif %}">
    <input type="text" name="kata2" placeholder="Masukkan Kata 2" class="form-group form-control" value="{% if last_value2 %}{{last_value2}}{% endif %}">    
    <input type="submit" value="Input" class="form-group btn btn-primary">
</form>
{% if df %}{{df|safe}}{% endif %}
{% endblock content %}

{% block extra_style %}
<style>
    .table{
        text-align: center
    }
</style>
{% endblock %}
{% block extra_script %}
<script>
    var table = document.getElementById("dataframe");
    {% if ptr %}
        {% for p in ptr %}
        table.rows[{{ p.1 }}].cells[{{ p.0 }}].bgColor = "cyan"
        {% endfor %}
    {% endif %}
    table.rows[1].cells[1].bgColor = "cyan"
</script>
{% endblock %}

{% block date %}Tue, 28 Oct 2018{% endblock date %}