<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}ILKOM NLP</title>
    {% include 'index/layout/header.html' %}
    {% block extra_style %}{% endblock %}
</head>
<body>
<!-- Include Navbar -->
{% include 'index/layout/navbar.html' %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
                <br>
    <!-- Blog Post -->
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{% block text-title %}{% endblock text-title %}</h2>
            <p class="card-text">{% block content %}{% endblock content %}</p>
            <!--<a href="" class="btn btn-primary">Read More</a>-->
        </div>
        <div class="card-footer text-muted">
            Last Updated on {% block date %}{% endblock date %}
            <!--by-->
            <!--<a href="#">xxx</a>-->
        </div>
    </div>


        </div>
        {% include 'index/layout/sidebar.html'%}
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% include 'index/layout/footer.html'%}
{% block extra_script %}{% endblock extra_script %}
<!-- -->
</body>
</html>
