{% load static %}
<!-- Footer -->
<!--<footer class="py-2 bg-dark">-->
    <!--<div class="container">-->
        <!--<p class="m-0 text-center text-white">Copyright &copy; Amaceh & Bisma 2018</p>-->
    <!--</div>-->
    <!--&lt;!&ndash; /.container &ndash;&gt;-->
<!--</footer>-->


<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<!-- jQuery local fallback -->
<script>
    window.jQuery || document.write('<script src="{% static 'index/bootstrap/js/jquery-3.3.1.slim.min.js' %}"><\/script>')
</script>
<!-- Bootstrap JS CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<!-- Bootstrap JS local fallback -->
<script>
    if(typeof($.fn.modal) === 'undefined') {document.write('<script src="{% static 'index/bootstrap/js/bootstrap.min.js' %}"><\/script>')}
</script>
<!-- Bootstrap CSS local fallback -->
<div id="bootstrapCssTest" class="hidden"></div>
<script>
    $(function() {
    //   if ($('#bootstrapCssTest').is(':visible')) {
      if(! $.fn.modal){
        $("head").prepend('<link rel="stylesheet" href="{% static 'index/bootstrap/css/bootstrap.min.css' %}">');
      }
    });

</script>
