<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
{% load static %}
<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'index/style.css' %}"/>
<link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}" />

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="NLP ILKOM UPI">
<meta name="author" content="Achmad Abdul Rofiq & Bisma Wahyu">
