        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!--TODO search widget-->
            <!-- Search Widget -->
            <!--<div class="card my-4">-->
                <!--<h5 class="card-header">Search</h5>-->
                <!--<div class="card-body">-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control" placeholder="Search for...">-->
                        <!--<span class="input-group-btn">-->
                  <!--<button class="btn btn-secondary" type="button">Go!</button>-->
                <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="{% url 'morphology_parser:index' %}">Morphological Parser</a>
                                </li>
                                <li>
                                    <a href="{% url 'min_edit_dist:index' %}">Minimun Edit Distance</a>
                                </li>
                                <li>
                                    <a href="{% url 'lang_model:index' %}">Language Model</a>
                                </li>
                                <li>
                                    <a href="{% url 'index:parse' %}">Spelling Correction</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card my-4">
                <h5 class="card-header">Repositories</h5>
                <div class="card-body">
                    This Source is available at Gitlab <a href="https://gitlab.com/amaceh/nlp-ilkom">https://gitlab.com/amaceh/nlp-ilkom</a>
                    please report bug and issue there. Enjoy :)
                </div>
            </div>

        </div>
